{% extends "layout.html.j2" %}
{% block content %}
  {% include "basic_header.html.j2" %}

<form action="mailto:ben.shen@ufl.edu" method="get" enctype="text/plain">
  <div>
    <label for="name">Name:
      <input type="text" name="name" id="name" />
    </label>
  </div>
  <div>
    <label for="email">Email:
      <input type="text" name="email" id="email" />
    </label>
  </div>
  <div>
    <label>Questions/comments:</label>
    <br />
    <textarea name="comments" rows="12" cols="35"></textarea>
  </div>
  <div>
    <input type="submit" name="submit" value="Send" />
    <input type="reset" name="reset" value="Clear Form" />
  </div>
</form>


{% endblock %}