*__pycache__/
*.py[cod]
*$py.class
*.DS_Store
instance/*
!instance/dummy.txt
!instance/*/dummy.txt
!instance/*.template
!instance/strain_pictures
instance/strain_pictures/*
!instance/strain_pictures/dummy.txt
!instance/tmp_download
instance/tmp_download/*
!instance/tmp_download/dummy.txt
!instance/backups
instance/backups/*
!instance/backups/dummy.txt