<div class="row mt-2">
	<div class="col">
		<div class="h3 btn-secondary text-center mb-2">Sequenced genomes</div>
		<table id="table_strains" class="table table-striped table-bordered table-hover nowrap">
			<thead class="thead-light">
				<tr>
					<th>NPDC No.</th>
				</tr>
			</thead>
			<tbody class="tbody">
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		$("#table_strains").DataTable({
			searching: false,
			ordering:  false,
			serverSide: true,
			responsive: false,
			processing: true,
			aLengthMenu: [[10, 50, 250], [10, 50, 250]],
        	iDisplayLength: 10,
			ajax: {
				url: "{{ url_for('root.page') }}api/genomes/get_overview",
				type: "GET",
				data: function(d) {
					//
				}
			},
			"columnDefs": [
				{
					targets: 0,
					className: "font-weight-bold"
				}
			]
		});
	});
</script>