<div class="row mb-4">
	<div class="col text-center">
		<h1 id="page_title">{{ page_title }}</h1>
		<small id="page_subtitle" class="text-muted">
			{{ page_subtitle }}
		</small>
		<hr />
	</div>
</div>