<div id="MainMenu">
  <div class="text-center mb-4 mt-4">
    <a href="/">
      <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid">
    </a>
  </div>
  <div class="text-center mb-2 list-group">
    <div class="list-group-item">
      {% if gbal["cur_userdata"] != None %}
      Welcome, <b>{{ gbal["cur_userdata"]["username"] }}</b>! [<a href="/logout">logout</a>]
      {% else %}
      Welcome, <b>guest</b>! Please [<a href="/login">login</a>] to access the full database features
      {% endif %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert {{ category }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
  {% if important_message %}
  <div class="text-center list-group">
    <div class="alert alert-info" role="alert">
      {{ important_message }}
    </div>
  </div>
  {% endif %}
  <div class="text-center mb-2 list-group">
    <div class="list-group-item">
      BLAST Server status:
      <div><strong class="text-success">{{ num_jobs_processed }}</strong> jobs processed</div>
      <div><strong class="text-muted">{{ num_jobs_pending }}</strong> jobs pending</div>
    </div>
  </div>
  <div class="list-group panel">
    {% for nav_item in nav_items %}
      {% if nav_item[1] is string %}
        <a href="{{ nav_item[1] }}" class="list-group-item list-group-item-info list-group-item-action {{ 'active' if request.path.split('/')[1] == nav_item[1].split('/')[1] else '' }}" data-parent="#MainMenu">{{ nav_item[0] }}</a>
      {% else %}
        <a href="#SubMenu-{{ nav_item[0].replace(' ', '-') }}" class="list-group-item list-group-item-info list-group-item-action" data-toggle="collapse" data-parent="#MainMenu">{{ nav_item[0] }}</a>
        <div class="collapse list-group-submenu {{'show' if request.path.split('/')[1] == nav_item[1][0][1].split('/')[1] else 'collapsed' }}" id="SubMenu-{{ nav_item[0].replace(' ', '-') }}">
          {% for nav_sub in nav_item[1] %}
            <a href="{{ nav_sub[1] }}" class="list-group-item list-group-item-action {{ 'active' if request.path.startswith(nav_sub[1]) else '' }}" data-parent="#SubMenu-{{ nav_item[0].replace(' ', '-') }}">{{ nav_sub[0] }}</a>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="text-center mt-4">
    Database version: <a href="https://github.com/shenlabnp/npdc_portal">{{ gbal["version"] }}</a>
    <br />
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img class="mt-2 mb-2" alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
    <br />
    (c) Shen Lab '22
  </div>
</div>