{% extends "layout.html.j2" %}
{% block content %}
  {% include "basic_header.html.j2" %}
  <div class="row mb-4">
  	<div class="col">
		To support the database, we need to keep a tally on how many and what kinds of users benefited from its services.<br />
		Therefore, we kindly ask you to sign up and provide your institutional information below (or login if you have already signed up before).
  	</div>
  </div>
  <div class="row">
     <div class="col-3">
       <div class="h4 btn-secondary text-center p-2">Existing users</div>
       <form id="form_login" method="post">
          <div class="form-group mb-4">
             <label>Username</label>
             <input type="text" name="username" class="form-control" placeholder="User Name" required>
          </div>
          <div class="form-group mb-4">
             <label>Password</label>
             <input type="password" name="token" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group mb-4 text-end">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
       </form>
     </div>
     <div class="col-9">
       <div class="h4 btn-secondary text-center p-2">New users</div>
       <form id="form_register" method="post" action="{{ url_for('root.page') }}register">
          <div class="form-group mb-4">
             <label>Username</label>
             <input type="text" name="username" class="form-control" placeholder="User Name" required>
          </div>
          <div class="form-group mb-4">
             <label>E-mail</label>
             <input type="email" name="email" class="form-control" placeholder="you@email.address" required>
          </div>
          <div class="form-group mb-4">
             <label>Name</label>
             <div class="row">
               <div class="col-5 pr-0 mr-0">
                <input type="text" name="firstname" class="form-control" placeholder="First Name" required>
               </div>
               <div class="col-7 pl-0 ml-0">
                <input type="text" name="lastname" class="form-control" placeholder="Last Name" required>
               </div>
             </div>
          </div>
          <div class="form-group mb-4">
            <div class="row">
               <div class="col-2">
                  <label>Category</label>
               </div>
               <div class="col-10 text-start btn-group" role="group">
                <input type="radio" class="btn-check btn-outline-secondary" name="category" id="category_academia" value="academia" checked>
                <label class="btn btn-outline-secondary btn-outline-secondary" for="category_academia">Academia</label>
                <input type="radio" class="btn-check btn-outline-secondary" name="category" id="category_nonacademia" value="nonacademia">
                <label class="btn btn-outline-secondary" for="category_nonacademia">Non-academia</label>
              </div>
            </div>
           </div>
          <div class="form-group mb-4">
             <label>Job title (for academics)</label>
             <select class="form-select" id="jobtitle" name="jobtitle">
               {% for idx, name in job_titles %}
               <option value="{{ idx }}">{{ name }}</option>
               {% endfor %}
              </select>
          </div>
          <div class="form-group mb-4">
             <label>Institution's country</label>
             <select class="form-select" id="country" name="country" required>
               <option value="US">United States</option>
               {% for idx, name in countries if idx != "US" %}
               <option value="{{ idx }}">{{ name }}</option>
               {% endfor %}
             </select>
          </div>
          <div class="form-group mb-4">
             <label>Do you have (check all that applies):</label>
             <div class="form-check">
                <input class="form-check-input" type="checkbox" name="funding_nih" id="funding_nih" />
                <label class="form-check-label" for="funding_nih">
                  NIH funding
                </label>
              </div>
             <div class="form-check">
                <input class="form-check-input" type="checkbox" name="funding_nsf" id="funding_nsf" />
                <label class="form-check-label" for="funding_nsf">
                  NSF funding
                </label>
              </div>
             <div class="form-check">
                <input class="form-check-input" type="checkbox" name="funding_others" id="funding_others" />
                <label class="form-check-label" for="funding_others">
                  Other US government agency funding
                </label>
              </div>
          </div>
          <div class="form-group mb-4 text-end">
            <button type="button" id="signup_btn" class="btn btn-primary">Sign up</button>
          </div>
          <script type="text/javascript">
            function check_category() {
               let selected_category = $("input[name=category]:checked").val();
               if (selected_category === "academia") {
                  $("#jobtitle").parent().removeClass("d-none");
               } else {
                  $("#jobtitle").parent().addClass("d-none");
               }               
            }
            $(document).ready(function() {
               $("input[type=radio][name=category]").on("change", function() {
                  check_category();
               });
               check_category();
               $("#signup_btn").click(function() {
                  if (!$("#form_register")[0].reportValidity()) {
                     return False;
                  }
                  let modal_content = "";
                  modal_content += "<div class='row m-2'><div class='col'>" +
                     "<ul class='list-group'>" +
                        "<li class='list-group-item'>1. NPDC genomes downloaded from the NPDC Genome Portal may not be uploaded to any other databases or made public without prior written consent from the director of the NPDC.</li>" +
                        "<li class='list-group-item'>2. Upon completion of the contract, the requestor is responsible for handling of biological material consistent with legal requirements.</li>" +
                        "<li class='list-group-item'>3. By making a request, the requestor affirms that they are familiar with all relevant safety protocols and have access to any necessary equipment, training, and facilities.</li>" +
                        "<li class='list-group-item'>4. Due to the nature of bacterial strains, they may be hazardous beyond the knowledge of NPDC. They may also vary in quality due to reasons beyond the control of NPDC.</li>" +
                        "<li class='list-group-item'>5. NPDC assumes no responsibility for any damage or delays during the shipping of the bacterial strains.</li>" +
                        "<li class='list-group-item'>6. NPDC reserves the right to reject any request or make a strain unavailable without any prior notice.</li>" +
                     "</ul>" +
                  "</div>";
                  modal_content += "<div class='row text-center mt-4'><div class='col'>" + "<input class='form-check-input' type='checkbox' id='agree_terms' />" + "<label class='form-check-label' for='agree_terms'>&nbsp;&nbsp;I agree</label>" + "</div></div>";
                  modal_content += "<div class='row text-center mt-2'><div class='col'>" + "<button id='form_register_submit' class='btn btn-primary disabled' type='button'>Submit</button>" + "</div>";
                  showModal("Terms & Conditions", modal_content,
                     on_show=function(){
                        $("#agree_terms").change(function() {
                           if ($(this).is(":checked")) {
                              $("#form_register_submit").removeClass("disabled");
                           } else {
                              $("#form_register_submit").addClass("disabled");
                           }
                        });
                        $("#agree_terms").trigger("change");
                        $("#form_register_submit").click(function() {
                           hideModal();
                           $("#form_register").submit();
                        });
                     }, on_close=function(){
                        //..
                     })
                  })
            });
          </script>
       </form>
     </div>
  </div>
{% endblock %}