{% extends "layout.html.j2" %}
{% block content %}
  {% include "basic_header.html.j2" %}

  <div class="row mt-2">
    <div class="col">
      <div class="h3 mb-2">Submit a new job</div>
    </div>
  </div>

  <div class="row">
    <form method="post">
      <fieldset>
        <div class="col-6">
          <small class="text-secondary">
            BLAST query will be ran using DIAMOND-BLASTP with e-value, %identity, and query coverage cutoffs of 1e-10, 40%, and 80%, respectively.
          </small>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="protsequences">Query proteins multifasta (max. 5 sequences with >=50 AAs each)</label>
            <textarea class="form-control" id="protsequences" name="protsequences" rows="7" spellcheck="false" placeholder=">example_protein_1&#10;MTGPVRYQWQDEVLAGPGGAMTDEVGVITGELTLRTTGGPDGKVRFEVQYTDADEWYTLTGSPVAHGDPSGLHAAALRAIRAGGGAEAPAAPA&#10>example_protein_2&#10MSLTLVMEHVEAPSTSTSLAPREQEALRHIAAGCTYLQAARNMGLSKHTVDAYLRRIRAKFGVNTTAELTRLAISMGL"></textarea>
          </div>
        </div>
        <div class="col-6 text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>


  <div class="row mt-2">
    <div class="col">
      <div class="h3 mb-2">Previously-submitted jobs</div>
      <table id="table_jobs" class="table table-striped table-bordered table-hover nowrap">
        <thead class="thead-light">
          <tr>
            <th>Detail</th>
            <th>Query proteins</th>
            <th>Submitted</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
      </table>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){

      $("#table_jobs").DataTable({
        searching: false,
        ordering:  false,
        serverSide: true,
        responsive: false,
        processing: true,
        aLengthMenu: [[5, 25, 100], [5, 25, 100]],
            iDisplayLength: 5,
        ajax: {
          url: "{{ url_for('root.page') }}api/query/get_list",
          type: "GET",
          data: function(d) {
            //
          }
        },
        "columnDefs": [
          { className: "text-center", "targets": [0] },
          {
            "targets": 0,
            render: function(data, type, row, meta) {
              let html_text = "";
              let [status, job_id] = data;
              switch(status) {
                case "PENDING":
                case "PROCESSING":
                  html_text += "<a href=\"{{ url_for('root.page') }}query/result/" + job_id + "\"><button class=\"btn btn-info\">" + status + "</button></a>";
                  break;
                case "PROCESSED":
                  html_text += "<a href=\"{{ url_for('root.page') }}query/result/" + job_id + "\"><button class=\"btn btn-success\">" + status + "</button></a>";
                  break;
                case "EXPIRED":
                  html_text += "<a href=\"{{ url_for('root.page') }}query/result/" + job_id + "\"><button class=\"btn btn-warning\">" + status + "</button></a>";
                  break;
                case "NOT_STARTED":
                case "FAILED":
                case "DELETED":
                  html_text += "<button class=\"btn btn-secondary disabled\">" + status + "</button>";
                  break;
              }
              return html_text;
            }
          },
          {
            "targets": 1,
            render: function(data, type, row, meta) {
              let html_text = "<ul class=\"list-unstyled mb-0\">";
              data.forEach((prot_id) => {
                html_text += "<li>" + prot_id + "</li>";
              });
              html_text += "</ul>";
              return html_text;
            }
          }
        ]
      });
    });
  </script>
  
{% endblock %}
